<form class="form-inline" ng-hide="user" align="center" ng-controller="LoginController as login">
  <div class="form-group ">
    <label for="username" class="cc col-sm-5 control-label">User Name:</label>
    <input id="username" ng-model="login.username" type="text" class="form-control"/>
  </div>
  </div>
  <div class="form-group">
    <label for="password" class="cc col-sm-5 control-label">Password:</label>
    <input id="password" ng-model="login.password" type="password" class="form-control"/>
  </div>
  </div>
  <div class="cc form-group" align="center">
    <div>
      <!-- Squared FOUR -->
      <div class="squaredFour">
        <label >
          <input type="checkbox" value="None" id="squaredFour" name="check" ng-model="login.rememberMe"/>
          <br>Remember
        </label>
      </div>
      <br>
      &nbsp;&nbsp;&nbsp;
      <input type="submit" value="Log In" class="btn btn-primary" ng-click="login.login()"/>
      <br>


    </div>
  </div>
</form>
<div col-md-2 align="center">
  <form ng-show="user" >
    <div>
      <div class="pp">
        Well come '{{user.name}}'
      </div>
    </div>
  </form>
</div>
